services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
    networks:
      - backend
    depends_on:
      - api

  api:
    build: .
    container_name: financial-anomaly-detection
    ports:
      - "8000:8000"
    networks:
      - backend

networks:
  backend:
    driver: bridge
